### 문자열

In [ ]:
a = 'Hello World ! I wanna study py for my promising career'
print(a)
print('\n', '='*100)
b = "I've got a dream"
print(b)
print('\n', '='*100)
c = 'you \t me : this is the real distance between you and me'
print(c)
print('\n', '='*100)

In [ ]:
print(a[0])
print(a[-1])
print(a[0:4])

In [ ]:
print(b.upper())
print(b.replace('d', 'c'))

In [ ]:
per = ' : 현재 진행 퍼센트는 {}% 입니다'
print(per.format(90))
for i in range(0,11) :
    print('|','='*i,' '*(10-i),'|',per.format(i*10))

In [ ]:
a = 'KOR:96,MAT:97,ENG:84,SCI:70'
a.split(',')

### dictionary, set

In [ ]:
personal_inf = {'name':'Andy', 'age':'25', 'sex':'male', 'height':'168cm', 'weight':'72kg', 'hobby':'soccer'}
print(personal_inf)
print(personal_inf['name'])

In [ ]:
new_inf = {'Instagram id':'@gangtaro'}
personal_inf.update(new_inf)
print(personal_inf)

In [ ]:
del_inf = personal_inf.pop('height')
print(del_inf)
print(personal_inf)
del personal_inf['weight']
print(personal_inf)

## del vs pop
#  del : 그냥 해당 key&value를 삭제시킴
#  pop : key&value를 다른 객체로써 불러오고 dic.에서 삭제

In [ ]:
# 초기화 함수
personal_inf.clear()
print(personal_inf)

In [ ]:
a = {'a':1, 'b':2, 'c':3}
print( a['a'] )

print('a' in a)
print(1 in a) # in : key값의 존재 확인, value값은 존재하는지 알려주지 않는다.
print('d' in a)

In [ ]:
# value access의 두가지 방법
a = {'a':1, 'b':2, 'c':3}

print(a['a'])
print(a['b'])
# print(a['d']) # :error를 반환
# vs
print(a.get('a'))
print(a.get('b'))
print(a.get('d')) # index에 key를 사용해서 value access 하는 방법과는 달리 .get("value")는 없는 값에 대해서는 None을 반환한다.

In [ ]:
# 모든 key, value 값 접근
print( a.keys() ) # list형태로 key 값만 반환
print( a.values() ) # list형태로 value 값만 반환
print( a.items() ) # ('key', 'value')의 튜플 쌍을 반환

In [ ]:
a = {1,2,3,4,5}
print(type(a))

b = [1,3,3,4,5]
print(type(b))

c = set(b)
print(c)
print(type(c))

print(a.union(c))
print(a.intersection(c))
print(a.difference(c)) # a-c
print(a.issubset(c)) # subset이냐 아니냐 boolean

### list and tuple

In [ ]:
a = [1,2,3,4,5,6,7,8]
print(a[2])

a.append(9) # list 끝에 추가
print(a)

In [ ]:
a.extend([1,2])
print(a)

a += [3,4]
print(a)

In [ ]:
a.insert(0, 0) # (추가하고 싶은 위치의 index, 추가하고 싶은 item)
print(a)

In [ ]:
print(a)
a.remove(3) # 삭제하고 싶은 value를 입력
print(a)
a.remove(3)
print(a)

In [ ]:
print(a.index(2))
print(1 in a)

In [ ]:
b = sorted(a)
print(a)
print(b)
print( )
a.sort()
print(a)

In [ ]:
a = (1,2,3,4)

In [ ]:
print(a[0])
a[0] = 0 # 튜플 값은 변화불가

In [ ]:
b, c, d, e = a  # tuple unpacking => 값을 하나씩 대입할 수 있다.
print(b);print(c);print(d);print(e)

### 조건문

In [ ]:
if [] :
    
    print('Hi')
else :
    print('None means False')

In [ ]:
if [1] :
    print('Sth except Boolean and empty means True')

### 반복문

In [ ]:
a = [12, 34, 56, 78, 90]

i = 0
while i<len(a) :
    print('key :', i, ', value : ', a[i])
    i += 1

In [ ]:
b = [1,2,34,5,4,3,3,4,5,6,7,5,4,6,11,8,7,54]

i = 0
while i<len(b) :
    if b[i]>20 : # 20보다 큰 수 만 도출
        print('value = ', b[i],', key = ', i )
    i += 1

In [ ]:
b = [1,2,34,5,4,3,3,4,5,6,7,5,4,6,11,8,7,54]

i = 0
while i<len(b) :
    if b[i] % 2 == 0 :
        print('value = ', b[i],', key = ', i )
    i += 1

In [1]:
i = 0
while True:
    if i == 90 :
        break
    i += 1
print(i)

90

In [5]:
# 문제상황:  0~99까지의 자연수가 있는데 7의 배수는 포함되면 안된다. 이를 출력하여라
i = 0
c = []
while i < 100 :
    i += 1
    if i % 7 == 0 :
        continue
    c.append(i)

print(c)
print(7 in c)

[1, 2, 3, 4, 5, 6, 8, 9, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20, 22, 23, 24, 25, 26, 27, 29, 30, 31, 32, 33, 34, 36, 37, 38, 39, 40, 41, 43, 44, 45, 46, 47, 48, 50, 51, 52, 53, 54, 55, 57, 58, 59, 60, 61, 62, 64, 65, 66, 67, 68, 69, 71, 72, 73, 74, 75, 76, 78, 79, 80, 81, 82, 83, 85, 86, 87, 88, 89, 90, 92, 93, 94, 95, 96, 97, 99, 100]
False

In [7]:
# 1에서 100 더하기
i = 1
sum_ = 0
while True :
    if i == 101 :
        break
    sum_ += i
    i += 1

print(sum_)

5050

In [11]:
nums = []
for i in range(100) :
    if i%2 == 0 or i%3 == 0 :
        continue
    nums.append(i)
    
print(nums)

[1, 5, 7, 11, 13, 17, 19, 23, 25, 29, 31, 35, 37, 41, 43, 47, 49, 53, 55, 59, 61, 65, 67, 71, 73, 77, 79, 83, 85, 89, 91, 95, 97]

In [13]:
speech = 'Hello World'
for i in speech :
    print(i)

H
e
l
l
o

W
o
r
l
d

In [17]:
score = {'kor' : 90, 'mat' : 80, 'eng' : 70, 'sci' : 90}
for i in score :
    print(i,':', score[i])

sci : 90
kor : 90
mat : 80
eng : 70

In [18]:
for i in score.values():
    print(i)

90
90
80
70

In [21]:
for i in score.keys() :
    print(i)
for i in score :
    print(i)

sci
kor
mat
eng
sci
kor
mat
eng

In [23]:
for key,value in score.items() :
    print(key, value)

sci 90
kor 90
mat 80
eng 70

In [27]:
a = [11,22,34,5,6,7,7,8]
for index, value in enumerate(a):
    print('index : ', index,'value : ',  value)

index :  0 value :  11
index :  1 value :  22
index :  2 value :  34
index :  3 value :  5
index :  4 value :  6
index :  5 value :  7
index :  6 value :  7
index :  7 value :  8

### if & for 연습문제
   
  1. 구구단을 2 - 9단까지 출력하시오.
  2. 1 - 100까지 정수 중 2의 배수 또는 11의 배수를 모두 출력하시오. 
  4. a = [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45] 에서 최대값과 최소값을 찾으시오. (sorted, sort 사용 금지)
  5. a = [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45] 에서 평균을 구하세요.

In [34]:
##1##
print('-'*10)
for i in range(2,10) :
    
    for j in range(1,10) :
        print(i,'x',j,'=',i*j)
        if j == 9 :
            print('-'*10)

----------
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
----------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
----------
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
----------
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
----------
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
----------
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
----------
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
----------
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
----------

In [35]:
##2##
for i in range(1,101) : 
    if i%2==0 or i%11 ==0:
        print(i)

2
4
6
8
10
11
12
14
16
18
20
22
24
26
28
30
32
33
34
36
38
40
42
44
46
48
50
52
54
55
56
58
60
62
64
66
68
70
72
74
76
77
78
80
82
84
86
88
90
92
94
96
98
99
100

In [42]:
##3##
a = [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45]
max_, min_ = a[0], a[0]
for i in range(len(a)) :
    if max_ <= a[i] :
        max_ = a[i]
    if min_ >= a[i] :
        min_ = a[i]
print(max_, min_)

99 1

In [45]:
##4##
a = [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45]
int(sum(a)/len(a))

37